html {
	max-width: 1024px;
	margin: 0 auto;
}

body {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(6, auto);
	grid-template-areas: "nn nn nn nn nn nn nn nn nn nn nn nn"
						 "hc hc hc hc hc hc hc hc hc hc hc hc"
						 "hc hc hc hc hc hc hc hc hc hc hc hc"
						 "cx cx cx cx cy cy cy cy cz cz cz cz"
						 "cx cx cx cx cy cy cy cy cz cz cz cz"
						 "ss ss ss ss ss ss ss ss ss ss ss ss";	
}

/* Nav */

#nn {
	grid-area: nn;
}

#ni {
	grid-area: ni;
}

#nl {
	grid-area: nl;
}

/* Hero */

#hc {
	grid-area: hc;
}

/* Section */

#cx {
	grid-area: cx;
}

#cy {
	grid-area: cy;
}

#cz {
	grid-area: cz;
}

/* Footer */

#ss {
	grid-area: ss;
}